<template name="navbarFooter">
  <div id="navbarFooter">
    <nav id="navbarFooterNav" class="navbar-default">

      <ul class="nav navbar-nav">
        <li>
          <a class="previewImageButon">View Image</a>
        </li>
        <li>
          <a class="newImageButon">New Image</a>
        </li>
        <li>
          <a class="editImageButton">Edit Image</a>
        </li>
        <li>
          <a class="deleteImageButton">Delete Image</a>
        </li>
        <li>
          <a class="slingshotButton">Slingshot</a>
        </li>
      </ul>

    </nav>
  </div>
</template>
