<template name="sidebar">
  <section id="sidebar" class="sidebarMenu">

    <div id="sidebarMenuContents" class="sidebarMenuContents">

        <!-- <div id="usernameLink" class="sidebarMenuItem">{{getUsername}}</div>
        {{#if currentUser}}
          <a id="myProfileLink" href="/myprofile">My Profile</a>
          <a id="themingLink" class="sidebarMenuItem withLowerBorder">Theming</a>
        {{/if}} -->



        <!-- {{#if currentUser}}
          <a id="logoutButton" class="withLowerBorder">Logout</a>
        {{/if}}
        <div id="connectionStatusPanel" class="centered">
          {{getConnectionStatus}}
        </div> -->


    </div>
  </section>
</template>
