<template name="navbarHeader">
  <div id="navbarHeader">
    <nav id="navbarHeaderNav" class="navbar-default">
      <a class="navbar-brand navbarTitle" href="#">{{getAppTitle}}</a>

      <ul class="hidden-xs nav navbar-nav navbar-right">
        <!-- <li><a href="https://github.com/awatson1978/womens-history-month"><i class="fa fa-github"></i>  Get the code.</a></li> -->
      </ul>
    </nav>
  </div>
</template>


<template name="librarySearchInput">
  <input id="librarySearchInput" type="text" class="form-control" placeholder="Search">
</template>
